header {
  background-color: #57184a7e;
  color: #ffffff;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  margin: 0 0.5rem; 
  position: relative;
}

nav a:not(:last-child)::after {
  content: "|";           
  margin-left: 0.5rem;    
  color: #ffffff;           
}